---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="AquaPlanter">
	<h1>Welcome to AquaPlanter!</h1>
	<p>Your smart plant care companion.</p>
	<a href="/plants">View my plants</a>
</MainLayout>
