---
import Layout from '../layouts/Layout.astro';
import CheckInForm from '../components/CheckInForm.astro';
import CheckOutForm from '../components/CheckOutForm.astro';
---

<Layout title="Hotel Gym Check-in">
  <main>
    <h1>Hotel Gym Check-in</h1>
    <CheckInForm />
    <CheckOutForm />
  </main>
</Layout>