---
import Layout from '../components/Layout.astro';
import Onboarding from '../components/Onboarding.astro';
import MoodInput from '../components/MoodInput.astro';
import Playlist from '../components/Playlist.astro';
---
<Layout>
    <h1>Financial Harmony</h1>
    <Onboarding />
    <MoodInput />
    <Playlist />
</Layout>