---
import Layout from '../layouts/Layout.astro';
import LockerList from '../components/LockerList.astro';
import AddLockerForm from '../components/AddLockerForm.astro';
---

<Layout title="Locker Tracker">
  <h1>Your Lockers</h1>
  <LockerList />
  <AddLockerForm />
</Layout>
