---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Warehouse Layout Configuration">
	<h1>Warehouse Layout Configuration</h1>
	<p>This is where you can configure your warehouse layout.</p>
</Layout>
