---
import Layout from '../layouts/Layout.astro';
import ToolList from '../components/ToolList.astro';
---

<Layout title="Home Hardware Tool Inventory">
	<main>
		<h1>Tool Inventory</h1>
		<ToolList />
	</main>
</Layout>