---
import Layout from '../../layouts/Layout.astro';
import ToolForm from '../../components/ToolForm.astro';
---

<Layout title="Add New Tool">
    <main>
        <h1>Add a New Tool</h1>
        <ToolForm />
    </main>
</Layout>
