---
import Layout from '../layouts/Layout.astro';
import WeatherDisplay from '../components/WeatherDisplay.astro';
import OutfitRecommendation from '../components/OutfitRecommendation.astro';
import StylePreferences from '../components/StylePreferences.astro';
---

<Layout title="Weather-Based Outfit Suggester">
  <main>
    <h1>Weather-Based Outfit Suggester</h1>
    <WeatherDisplay />
    <OutfitRecommendation />
    <StylePreferences />
  </main>
</Layout>