---
---
<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">Meeting Recorder</a>
    <nav>
      <a href="/" class="px-4">Home</a>
      <a href="/meetings" class="px-4">All Meetings</a>
    </nav>
  </div>
</header>
