---
// src/components/CheckOutForm.astro
---
<form>
  <label for="room-number">Room Number</label>
  <input type="text" id="room-number" name="room-number" />
  <button type="submit">Check Out</button>
</form>
