---
// src/components/CheckInForm.astro
---
<form>
  <label for="room-number">Room Number</label>
  <input type="text" id="room-number" name="room-number" />
  <label for="guest-name">Guest Name</label>
  <input type="text" id="guest-name" name="guest-name" />
  <button type="submit">Check In</button>
</form>
